footer {
  background: linear-gradient(top bottom, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
  background: -webkit-linear-gradient(top, rgba(173, 167, 167, 0.5), rgba(106, 123, 139, 0.5));
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
  background: -o-linear-gradient(top, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));

  padding: 10px;
  height: 210px;

}

  
  
  .ru a {
  
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 0px;
    transition: color 0.1s ease;
  }
  
  .ru a:hover {
    color: #fcfdff;
  }
  

 
  #logito{
    height: 60px;
  }
  .nav-link{
    color: white;
    font-size:18px;
    
    }
    
  .bg-body-tertiary {
    background-color:rgba(170, 162, 162, 0)!important;
    height: 100px;

  }
  body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
@media (min-width: 992px){

  .navbar-collapse {
   
      display: flex!important;
      flex-basis: auto;
      position: relative;
      left: 45%;
     
  }
  .navbar-expand-lg{
    display: flex!important;
    flex-basis: auto;
    height: 100px;
  }
  }
 
  
  .card{
    background: linear-gradient(top bottom, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
    background: -moz-linear-gradient(top, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
    background: -o-linear-gradient(top, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    object-fit: cover;
   
  
    }
    
.card-img-top{
  max-width: 100%;
  max-height: 280px;
  height: 80%;
  }

  .modal-body{
color: #000000;


  }