footer {
    background: linear-gradient(top bottom, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
    background: -webkit-linear-gradient(top, rgba(173, 167, 167, 0.5), rgba(106, 123, 139, 0.5));
    background: -moz-linear-gradient(top, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
    background: -o-linear-gradient(top, rgba(242, 242, 242, 0.5), rgba(106, 123, 139, 0.5));
    
    padding: 10px;
    height: 210px;
  
  }

  

  .ru a {

    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 0px;
    transition: color 0.1s ease;
  }
  
  .ru a:hover {
    color: #fcfdff;
  }




#logito{
    height: 60px;
  }
  
.my-5{

color: #f1f1f1;
font-style: italic;  
border-style: double;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 992px){

  .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      position: relative;
      left: 45%;
  }
  .navbar-expand-lg{
    display: flex!important;
    flex-basis: auto;
  }
  }